<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="footer" th:align="center">
    <footer class="footer">
        <div class="container footer-text">
            &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}"/> - <a href="http://www.javapluscava.nl">Jut & Jul: Javaantjes</a>
        </div>
    </footer>
</div>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>