<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-heavy">Java & Cava</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{/products}">Products</a>
        <a class="p-2 text-dark" href="about.html">About</a>
        <a class="p-2 text-dark" href="contact.html">Contact</a>
    </nav>
    <a class="btn btn-outline-secondary" th:href="@{/customer}">Your account</a>
</nav>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>