<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Management</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container-fluid" style="margin-top: 80px">
        <!-- AIM: DISPLAY GLOBAL DATA OF INVENTORY HEALTH -->

        <!-- User can view totals of newly created (within last month), out of stock (current + more than two weeks) -->

    </div>
    <div class="container-fluid" style="margin-top: 80px">

        <!-- AIM: DISPLAY A TABLE WITH ALL WINE RELATED DATA -->

        <!-- User can click-through per wine to display secondary data and perform edits/deletes -->

        <div class="table-responsive" th:if="${not #lists.isEmpty(wines)}">
            <table class="table table-striped table-hover">
                <caption>List of current wines in inventory</caption>
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="wine : ${wines}">
                        <td th:text="${wine.id}">123</td>
                        <td th:text="${wine.name}">Honhonhon</td>
                        <td th:text="${wine.year}">40</td>
                        <td th:text="${wine.stockQuantity}">123</td>
                        <td><a href="#" th:href="@{'products/wines'+ ${wine.id} + '/show'}"
                             th:text="${wine.id}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>