<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wine Inventory Management</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="bg-img">
    <div class="content-container">
        <h1 align="center" class="table-header">Wine Inventory</h1>
        <div th:if="${#lists.isEmpty(wines)}">
            <h2 align="center"><a href="/products/wines/new">You can't see that which does not exist. Please add wines
                first!</a></h2>
        </div>
        <div class="container-fluid">
            <div class="card overview-card">
                <div class="table-responsive" th:if="${not #lists.isEmpty(wines)}">
                    <table class="table table-striped table-hover">
                        <caption class="overview">List of current wines in inventory</caption>
                        <thead class="thead-inverse">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="wine : ${wines}">
                            <td th:text="${wine.id}">123</td>
                            <td th:text="${wine.name}">Honhonhon</td>
                            <td th:text="${wine.price}">40</td>
                            <td th:text="${wine.stockQuantity}">123</td>
                            <td><a href="#" th:href="@{${wine.id} + '/show'}">View</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12 offset-10">
                            <button type="button" class="btn btn-primary"><a href="#" th:href="@{/products/wines/new}">Add New</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>