<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>The best wine in the world</title>

      <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
  </head>

  <body>
    <h1>Login</h1>

    <p>New here? Click
       <a th:href="@{/register}">here</a> to register.</p>

    	<h1>Please enter your username and password.</h1>
    <form action="#" th:action="@{/login}" th:object="${account}" method="post">
    	<p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
  </body>
</html>