<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>The best wine in the world</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<form method="POST" th:action="@{/register}">
        <label for="username">Username: </label>
        <input type="text" name="username"/><br/>

        <label for="password">Password: </label>
        <input type="password" name="password"/><br/>
        
 		<input type="submit" value="register"/>
	</form>
</body>
</html>