<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- No content in the template html; each webpage has its own responsibility -->
</head>
<body>
    <div th:fragment="footer" th:align="center">
        <footer>
            <!-- insert footer content here -->
        </footer>
        <div class="copyright">
            <div class="container">
                &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2018</span> - Jut & Jul: Javanezen
                <a href="http://javapluscava.nl" class="float-right">Jut & Jul: Javanezen</a>
            </div>
        </div>
    </div>
</body>
</html>